node_modules/
.DS_Store
/dist
/build
/app/vendor/desmos/
/app/js/desmos.v.*.js
/app/css/desmos.v.*.css
/app/css/desmos.v.*.icon.png
/app/css/font/
/app/css/img/
/app/css/tmp.txt
/icon/icons
*.key
*.pxd
*.log
*.pem
*.p12
*.pfx
.env
.env.*
!.env.example
