/*hover*/
.dcg-calculator-api-container [class^="dcg-icon-"],
.dcg-calculator-api-container [class*=" dcg-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'dcg-icons' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dcg-calculator-api-container .dcg-icon-metronome-2:before {
    content: "\e90d";
}

.dcg-calculator-api-container .dcg-icon-play-once:before {
    content: "\e90b";
}

.dcg-calculator-api-container .dcg-icon-metronome:before {
    content: "\e90c";
}

.dcg-calculator-api-container .dcg-icon-mail:before {
    content: "\e90a";
}

.dcg-calculator-api-container .dcg-icon-line-dotted:before {
    content: "\e907";
}

.dcg-calculator-api-container .dcg-icon-line-dashed:before {
    content: "\e908";
}

.dcg-calculator-api-container .dcg-icon-line-solid:before {
    content: "\e909";
}

.dcg-calculator-api-container .dcg-icon-angle:before {
    content: "\e910";
}

.dcg-calculator-api-container .dcg-icon-line-thickness:before {
    content: "\e911";
}

.dcg-calculator-api-container .dcg-icon-opacity:before {
    content: "\e912";
}

.dcg-calculator-api-container .dcg-icon-stop:before {
    content: "\e906";
}

.dcg-calculator-api-container .dcg-icon-thin-arrow-right:before {
    content: "\e904";
}

.dcg-calculator-api-container .dcg-icon-thin-arrow-left:before {
    content: "\e905";
}

.dcg-calculator-api-container .dcg-icon-volume:before {
    content: "\e903";
}

.dcg-calculator-api-container .dcg-icon-volume-down:before {
    content: "\e901";
}

.dcg-calculator-api-container .dcg-icon-volume-up:before {
    content: "\e902";
}

.dcg-calculator-api-container .dcg-icon-app-test-mode:before {
    content: "\e900";
}

.dcg-calculator-api-container .dcg-icon-trophy:before {
    content: "\e200";
}

.dcg-calculator-api-container .dcg-icon-app-graphing:before {
    content: "\e201";
}

.dcg-calculator-api-container .dcg-icon-app-geometry:before {
    content: "\e202";
}

.dcg-calculator-api-container .dcg-icon-app-scientific:before {
    content: "\e203";
}

.dcg-calculator-api-container .dcg-icon-app-four-function:before {
    content: "\e204";
}

.dcg-calculator-api-container .dcg-icon-clipboard:before {
    content: "\e205";
}

.dcg-calculator-api-container .dcg-icon-arrow-infinite:before {
    content: "\e206";
}

.dcg-calculator-api-container .dcg-icon-arrow-once:before {
    content: "\e207";
}

.dcg-calculator-api-container .dcg-icon-arrow-two-way:before {
    content: "\e208";
}

.dcg-calculator-api-container .dcg-icon-arrow-one-way:before {
    content: "\e209";
}

.dcg-calculator-api-container .dcg-icon-randomize:before {
    content: "\e20a";
}

.dcg-calculator-api-container .dcg-icon-zoom-fit:before {
    content: "\e20b";
}

.dcg-calculator-api-container .dcg-icon-comments:before {
    content: "\e20c";
}

.dcg-calculator-api-container .dcg-icon-lines-solid:before {
    content: "\e20d";
}

.dcg-calculator-api-container .dcg-icon-histogram-fill:before {
    content: "\e20e";
}

.dcg-calculator-api-container .dcg-icon-histogram:before {
    content: "\e20f";
}

.dcg-calculator-api-container .dcg-icon-distribution-fill:before {
    content: "\e210";
}

.dcg-calculator-api-container .dcg-icon-distribution:before {
    content: "\e211";
}

.dcg-calculator-api-container .dcg-icon-dotplot-cross:before {
    content: "\e212";
}

.dcg-calculator-api-container .dcg-icon-dotplot-open:before {
    content: "\e213";
}

.dcg-calculator-api-container .dcg-icon-dotplot-default:before {
    content: "\e214";
}

.dcg-calculator-api-container .dcg-icon-boxplot:before {
    content: "\e215";
}

.dcg-calculator-api-container .dcg-icon-points:before {
    content: "\e216";
}

.dcg-calculator-api-container .dcg-icon-fraction:before {
    content: "\e217";
}

.dcg-calculator-api-container .dcg-icon-cross:before {
    content: "\e218";
}

.dcg-calculator-api-container .dcg-icon-open:before {
    content: "\e219";
}

.dcg-calculator-api-container .dcg-icon-point:before {
    content: "\e21a";
}

.dcg-calculator-api-container .dcg-icon-shaded-inequality-shade2:before {
    content: "\e21b";
}

.dcg-calculator-api-container .dcg-icon-shaded-inequality-dash:before {
    content: "\e21c";
}

.dcg-calculator-api-container .dcg-icon-position-arrows-single:before {
    content: "\e21d";
}

.dcg-calculator-api-container .dcg-icon-position-arrows:before {
    content: "\e21e";
}

.dcg-calculator-api-container .dcg-icon-parametric-filled:before {
    content: "\e21f";
}

.dcg-calculator-api-container .dcg-icon-parametric-solid:before {
    content: "\e220";
}

.dcg-calculator-api-container .dcg-icon-parametric-dashed:before {
    content: "\e221";
}

.dcg-calculator-api-container .dcg-icon-parametric-dotted:before {
    content: "\e222";
}

.dcg-calculator-api-container .dcg-icon-polygon-filled:before {
    content: "\e223";
}

.dcg-calculator-api-container .dcg-icon-polygon-dashed:before {
    content: "\e224";
}

.dcg-calculator-api-container .dcg-icon-polygon-dotted:before {
    content: "\e225";
}

.dcg-calculator-api-container .dcg-icon-polygon-solid:before {
    content: "\e226";
}

.dcg-calculator-api-container .dcg-icon-title:before {
    content: "\e227";
}

.dcg-calculator-api-container .dcg-icon-bottom-arrow:before {
    content: "\e228";
}

.dcg-calculator-api-container .dcg-icon-rocket:before {
    content: "\e229";
}

.dcg-calculator-api-container .dcg-icon-reset:before {
    content: "\e22a";
}

.dcg-calculator-api-container .dcg-icon-desmos:before {
    content: "\e22b";
}

.dcg-calculator-api-container .dcg-icon-download:before {
    content: "\e22c";
}

.dcg-calculator-api-container .dcg-icon-embed:before {
    content: "\e22d";
}

.dcg-calculator-api-container .dcg-icon-export:before {
    content: "\e22e";
}

.dcg-calculator-api-container .dcg-icon-book:before {
    content: "\e22f";
}

.dcg-calculator-api-container .dcg-icon-print:before {
    content: "\e230";
}

.dcg-calculator-api-container .dcg-icon-magic:before {
    content: "\e231";
}

.dcg-calculator-api-container .dcg-icon-cursor:before {
    content: "\e232";
}

.dcg-calculator-api-container .dcg-icon-dashed-function:before {
    content: "\e233";
}

.dcg-calculator-api-container .dcg-icon-function:before {
    content: "\e234";
}

.dcg-calculator-api-container .dcg-icon-arrows-two:before {
    content: "\e235";
}

.dcg-calculator-api-container .dcg-icon-arrows-one:before {
    content: "\e236";
}

.dcg-calculator-api-container .dcg-icon-desmos-badge:before {
    content: "\e237";
}

.dcg-calculator-api-container .dcg-icon-move:before {
    content: "\e238";
}

.dcg-calculator-api-container .dcg-icon-move-horizontal:before {
    content: "\e239";
}

.dcg-calculator-api-container .dcg-icon-move-vertical:before {
    content: "\e23a";
}

.dcg-calculator-api-container .dcg-icon-arrow-left:before {
    content: "\e23b";
}

.dcg-calculator-api-container .dcg-icon-arrow-right:before {
    content: "\e23c";
}

.dcg-calculator-api-container .dcg-icon-arrow-enter:before {
    content: "\e23d";
}

.dcg-calculator-api-container .dcg-icon-shift:before {
    content: "\e23e";
}

.dcg-calculator-api-container .dcg-icon-dragdots:before {
    content: "\e23f";
}

.dcg-calculator-api-container .dcg-icon-duplicate:before {
    content: "\e240";
}

.dcg-calculator-api-container .dcg-icon-error:before {
    content: "\e241";
}

.dcg-calculator-api-container .dcg-icon-facebook:before {
    content: "\e242";
}

.dcg-calculator-api-container .dcg-icon-film:before {
    content: "\e243";
}

.dcg-calculator-api-container .dcg-icon-folder-open:before {
    content: "\e244";
}

.dcg-calculator-api-container .dcg-icon-folder:before {
    content: "\e245";
}

.dcg-calculator-api-container .dcg-icon-hamburger:before {
    content: "\e246";
}

.dcg-calculator-api-container .dcg-icon-hdd:before {
    content: "\e247";
}

.dcg-calculator-api-container .dcg-icon-hide:before {
    content: "\e248";
}

.dcg-calculator-api-container .dcg-icon-home:before {
    content: "\e249";
}

.dcg-calculator-api-container .dcg-icon-image:before {
    content: "\e24a";
}

.dcg-calculator-api-container .dcg-icon-keyboard:before {
    content: "\e24b";
}

.dcg-calculator-api-container .dcg-icon-lock:before {
    content: "\e24c";
}

.dcg-calculator-api-container .dcg-icon-minus:before {
    content: "\e24d";
}

.dcg-calculator-api-container .dcg-icon-new-expression:before {
    content: "\e24e";
}

.dcg-calculator-api-container .dcg-icon-new-folder:before {
    content: "\e24f";
}

.dcg-calculator-api-container .dcg-icon-new-image:before {
    content: "\e250";
}

.dcg-calculator-api-container .dcg-icon-new-table:before {
    content: "\e251";
}

.dcg-calculator-api-container .dcg-icon-new-text:before {
    content: "\e252";
}

.dcg-calculator-api-container .dcg-icon-pause:before {
    content: "\e253";
}

.dcg-calculator-api-container .dcg-icon-pencil:before {
    content: "\e254";
}

.dcg-calculator-api-container .dcg-icon-play:before {
    content: "\e255";
}

.dcg-calculator-api-container .dcg-icon-plus:before {
    content: "\e256";
}

.dcg-calculator-api-container .dcg-icon-question-sign:before {
    content: "\e257";
}

.dcg-calculator-api-container .dcg-icon-redo:before {
    content: "\e258";
}

.dcg-calculator-api-container .dcg-icon-remove:before {
    content: "\e259";
}

.dcg-calculator-api-container .dcg-icon-search:before {
    content: "\e25a";
}

.dcg-calculator-api-container .dcg-icon-settings:before {
    content: "\e25b";
}

.dcg-calculator-api-container .dcg-icon-share:before {
    content: "\e25c";
}

.dcg-calculator-api-container .dcg-icon-show:before {
    content: "\e25d";
}

.dcg-calculator-api-container .dcg-icon-table:before {
    content: "\e25e";
}

.dcg-calculator-api-container .dcg-icon-text:before {
    content: "\e25f";
}

.dcg-calculator-api-container .dcg-icon-time:before {
    content: "\e260";
}

.dcg-calculator-api-container .dcg-icon-twitter:before {
    content: "\e261";
}

.dcg-calculator-api-container .dcg-icon-undo:before {
    content: "\e262";
}

.dcg-calculator-api-container .dcg-icon-world:before {
    content: "\e263";
}

.dcg-calculator-api-container .dcg-icon-wrench:before {
    content: "\e264";
}

.dcg-calculator-api-container .dcg-icon-zoom:before {
    content: "\e265";
}

.dcg-calculator-api-container .dcg-icon-caret-down:before {
    content: "\e266";
}

.dcg-calculator-api-container .dcg-icon-caret-left:before {
    content: "\e267";
}

.dcg-calculator-api-container .dcg-icon-caret-right:before {
    content: "\e268";
}

.dcg-calculator-api-container .dcg-icon-caret-up:before {
    content: "\e269";
}

.dcg-calculator-api-container .dcg-icon-check:before {
    content: "\e26a";
}

.dcg-calculator-api-container .dcg-icon-chevron-down:before {
    content: "\e26b";
}

.dcg-calculator-api-container .dcg-icon-chevron-left:before {
    content: "\e26c";
}

.dcg-calculator-api-container .dcg-icon-chevron-right:before {
    content: "\e26d";
}

.dcg-calculator-api-container .dcg-icon-chevron-up:before {
    content: "\e26e";
}

.dcg-calculator-api-container .dcg-icon-delete:before {
    content: "\e26f";
}