@font-face {
    font-family: "Latin";
    src: url("font/latinmodern-math.otf") format("opentype");
}
@font-face {
    font-family: "hbar";
    src: url("font/hbar.otf") format("opentype");
}
@font-face {
    font-family: "MathJax";
    src: url("font/MathJax_TeX/MathJax_Main-Italic.otf") format("opentype");
}
@font-face {
    font-family: "Fraktur";
    src: url("font/MathJax_TeX/MathJax_Fraktur-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'dcg-icons';
    src: url("./font/dcg-icons.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.message:before {
    transform: translate(30px);
    transition-duration: 1s;
}

.message {
    position: absolute;
    bottom: 1%;
    right: 1%;
    background-color: rgba(0, 0, 250, 0.1);
    border-radius: 5px;
    text-align: center;
    padding: 5px 30px;
    font-size: 2em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 1, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 1, 0.15);
    border: 1px solid rgba(0, 0, 1, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 0 1px #fff;
    transition-duration: 1s;

}

.dcg-settings-container {
    font-family: "Times New Roman" !important;
}

textarea, .dcg-displayTextarea {
/*    font-family: "Latin", "Times New Roman" !important;*/
    font-family: "Menlo", "Monaco", "Courier New", "monospace" !important;

    font-size: 12pt !important;
}

.dcg-expression-mathquill,.dcg-typeset-math,.dcg-mq-root-block {
    font-family: Symbola,"Latin","Times New Roman" !important;
}
.screenshot-container{
    position: fixed;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 0;
    transition: 1s;

    transform-origin: right bottom;
    transform: scale(1.0);
}
.screenshot-container.minimize{
    transform: scale(0.2);
}
.screenshot-container.minimize.delete{
    transform: scale(0.2) translateX(100%);
}

.screenshot-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.screenshot{
    transform: scale(0.9);
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    cursor: grab;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

.screenshot.copied{
    box-shadow: 0px 0px 20px #2d70b3;
    transition: box-shadow 0.2s ease-in-out;
}

/* ------ */
.custom-prompt-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.custom-prompt-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(226, 226, 226);
    padding: 20px;
    border-radius: 12px;
    border: 0.5px solid rgb(154, 154, 154);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
}

.custom-prompt-button {
    display: ineline-block;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px 20px;
    width: calc(50% - 10px);
    cursor: pointer;
    background-color: rgb(200, 200, 200);
    color: rgb(83, 83, 83);;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
}

.custom-prompt-button.default{
    color: rgb(250, 250, 250);
    background: linear-gradient(0deg, rgba(50,120,230,1) 0%, rgba(60,130,240,1) 100%)
}

.custom-prompt-button:hover {
/*    background-color: #ddd;*/
}

.custom-prompt-input{
    padding: 1px 10px;
    color: #444;
    font-size: 12pt;
    height: 20pt;
    border-radius: 6px;
    border: 1px solid rgb(200, 200, 200);
}
.custom-prompt-input:focus{
    outline: none;
    border: 1px solid rgb(200, 200, 200);
}







